body {
  background-repeat: no-repeat;
  color: rgb(220, 220, 220);
  font-family: sans-serif;
}
#contentDiv {
  background-color: rgb(40, 40, 40);
  padding: 30px;
}
.bookName {
  font-style: italic;
}
.emphasize {
  font-style: italic;
  text-decoration: underline;
}
