body {
  background-repeat: no-repeat;
  color: rgb(220, 220, 220);
}
#contentDiv {
  background-color: rgb(40, 40, 40);
  padding: 30px;
  margin: 30px;
  max-width: 50%;
}
.bookName {
  font-style: italic;
}
.emphasize {
  font-style: italic;
  text-decoration: underline;
}
img {
  max-width: 100%;
}
a {
  color: #a6e7dd;
}
a:active {
  color: #e7a6e0;
}
a:visited {
  color: #b4e7a6;
}
caption {
  text-align: left;
}
table,
th,
td {
  border: 1px solid rgb(200, 200, 200);
}
th,
td {
  padding: 3px;
}
table {
  border-spacing: 3px;
  margin: 3px;
}
