body {
  background-repeat: no-repeat;
  color: rgb(220, 220, 220);
  font-family: sans-serif;
}
#contentDiv {
  background-color: rgb(40, 40, 40);
  padding: 30px;
  margin: 30px;
  max-width: 50%;
}
.bookName {
  font-style: italic;
}
.emphasize {
  font-style: italic;
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid rgb(200, 200, 200);
}

th,
td {
  padding: 3px;
}

table {
  border-spacing: 3;
}
